.header{
    display: flex;
    background-color: transparent;
    background: none;
    position: fixed;
    width: 100vw;
    top: 0;
    margin: 15px;
    margin-top: 15px;
    z-index: 100;
    font-weight: 550;
}
.header_center{
    flex: 1;
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin-left: 90px;
}

.header_center>p{
    margin:6px 12px;
    text-transform: uppercase;
}

.header_right{
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    margin-right: 30px;
}
.header_right>p{
    margin: 6px;
    font-size: 14px;
}